APP_NAME=DoorVision AI
APP_ENV=production
DEBUG=False

DATABASE_URL=postgresql://username:password@host/dbname

CORS_ORIGINS=http://localhost:5173

JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

CAMERA_SECRET_KEY=change_this_camera_key

YOLO_MODEL_PATH=yolov8n.pt
YOLO_CONFIDENCE=0.35
YOLO_TARGET_CLASS=person